# 默认排除列表
.vscode/**
.vscode-test/**
src/**
out/
node_modules/
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
esbuild.js

# 排除演示图片
兼容性.png
文件夹效果演示.png
文件效果演示.png
日期格式调整.png
自定义显示格式.png
已知_bug.gif
功能演示.gif

# 排除工作区文件
**/*.code-workspace
